In [1]:
import pandas as pd

In [2]:
fname = '2018-01-01-2022-07-31.bin'
data = pd.read_pickle(fname)['data']
df = pd.DataFrame.from_dict(data)
print(df.shape)
df.head()

(5000, 8)

,period,subba,subba-name,parent,parent-name,timezone,value,value-units
0,2022-07-31,ME,Metropolitan Edison zone,PJM,"PJM Interconnection, LLC",Central,43531,megawatthours
1,2022-07-31,Jica,Jicarilla Apache Nation,PNM,Public Service Company of New Mexico,Central,49,megawatthours
2,2022-07-31,WR,Westar Energy,SWPP,Southwest Power Pool,Central,103965,megawatthours
3,2022-07-31,KCPL,Kansas City Power & Light,SWPP,Southwest Power Pool,Eastern,51999,megawatthours
4,2022-07-31,ZONJ,New York City,NYIS,New York Independent System Operator,Eastern,160843,megawatthours